<md-sidenav-layout class="demo-root" fullscreen>
  <md-sidenav #start>
    <md-nav-list>
      <a md-list-item [routerLink]="['http-start']" (click)="start.close()">Http - Start</a>
      <a md-list-item [routerLink]="['http-finish']" (click)="start.close()">Http - Finish</a>
      <a md-list-item [routerLink]="['wikipedia-search-start']" (click)="start.close()">Wikipedia Search - Start</a>
      <a md-list-item [routerLink]="['wikipedia-search-finish']" (click)="start.close()">Wikipedia Search - Finish</a>
      <a md-list-item [routerLink]="['todos-custom']" (click)="start.close()">Todos</a>
      <a md-list-item [routerLink]="['todos-ngrx']" (click)="start.close()">Todos - NgRx</a>
      <a md-list-item [routerLink]="['todos-firebase']" (click)="start.close()">Todos - Firebase</a>
      <a md-list-item href="https://console.firebase.google.com/project/todos-fcdf8/database/data" target="_new">Firebase Console</a>
    </md-nav-list>
    <button md-button (click)="start.close()">CLOSE</button>
  </md-sidenav>
  <div>
    <md-toolbar color="primary">
      <button md-icon-button (click)="start.open()">
        <md-icon class="md-24" >menu</md-icon>
      </button>
      <div class="demo-toolbar">
	      <h1>{{title}}</h1>
      </div>
    </md-toolbar>

    <div #root="$implicit" dir="ltr" class="demo-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-layout>